<br/><br/><br/><br/>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
    <ul id="doctor-list">
      <li class="list-group-item" id='draggable-element' *ngFor="let doctor of doctorsList"
        [attr.data-event]='doctor.time | json'>{{doctor.name}}</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <full-calendar #calendar 
        defaultView="timeGridWeek" 
        [editable]="true" 
        [droppable]="true" 
        [allDaySlot]="false"
        [slotEventOverlap]="true" 
        minTime="7:00:00" 
        maxTime="18:00:00" 
        [header]=" {
          left: 'prev,next,today',
          center: 'title',
          right: ''
        }" 
        [customButtons]= "buttonLabel | json"
        [plugins]="calendarPlugins" 
        [weekends]="calendarWeekends" 
        [events]="calendarEvents"
        contentHeight= "auto"
        locale="vi"
        eventTimeForamt= 'H:mm'
        (dateClick)="handleDateClick($event)" 
        (eventClick)="handleEventClick($event)"
        (eventReceive)="eventReceive($event)">
    </full-calendar>
  </div>
  
</div>